.header-wrap b {
    margin-left: auto;
    color: #fafafa;
    font-size: 22px;
}
.content-wrap {
    padding-top: 40px;
}
.nav-list li {
    margin-bottom: 40px;
}
.nav-list li .material-icons {
    font-size: 22px;
}
#aside {
    width: 270px;
}
.hide-sidebar {
    display: block;
    height: 20px;
    margin-left: 12px;
    font-size: 15px;
    line-height: 1;
    transition: .4s;
    cursor: pointer;
}
.hide-sidebar:hover {
    color: #b105ff;
}
.hide-sidebar .material-icons {
    margin-right: 2px;
    opacity: 0.7;
    font-size: 12px;
    line-height: 1;
}
/* Main */
.data-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.set-word-wrap {
    padding: 0;
    border: none;
}
.filter-wrap {
    top: 48px;
}

/* Table */
.table-main-wrap {
    overflow-y: auto;
    width: 100%;
    height: 580px;
    margin: 0 auto 10px auto;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 5px 16px 0 rgba(213,228,244,0.4);
}
.table-main {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
td,th {
	padding: 10px;
	border-top: 1px solid #c85acc66;
	border-right: 1px solid #c85acc66;
	font-size: 16px;
}
th {
	position: relative;
	border-top: none;
	color: #fafafa;
    letter-spacing: 0.8px;
	background-color: #c24afa;;
}
td:last-child,
th:last-child {
	border-right: none;
}
th:last-child {
	border-top-right-radius: 4px;
}
th:first-child {
	border-top-left-radius: 4px;
}
td {
    font-weight: 500;
}
.td-image,
.action-list,
.sort-btn {
    cursor: pointer;
    transition: .4s;
}
.td-image:hover,
.action-list li:hover {
    color: #c24afa;
}
.td-image .material-icons,
.action-list .material-icons,
.sort-btn {
    margin-right: 4px;
    font-size: 16px;
    vertical-align: text-top;
    line-height: 18px;
    opacity: 0.8;
}
.action-list {
    display: flex;
    justify-content: center;
}
.action-list li {
    transition: .4s;
}
.action-list li:first-child {
    margin-right: 15px;
}
.sort-btn {
    width: 25px;
    height: 18px;
    line-height: 18px !important;
    margin-left: 0;
    color: #fff;
    font-size: 16px !important;
    font-weight: 700 !important;
    background-color: transparent;
}
.sort-btn:hover {
    opacity: 1;
}
.load-word button {
    width: 170px;
    padding: 10px;
}