@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
	color: #3f3f3f;
	font: 400 14px/26px Raleway, Arial, Helvetica, sans-serif;
	background-color: #fff;
}
img {
	max-width: 100%;
}
ul li,
ol li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
a {
	display: block;
	color: inherit;
	text-decoration: none;
}
button {
	border: none;
    font-family: inherit;
    transition: .4s;
	cursor: pointer;
}
.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 10px;
}
/* Header */
#header {
	background-color: rgba(177,5,255,0.8);
}
.header-wrap {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.header-wrap>img {
    width: 60px;
    margin-right: 10px;
}
.header-wrap>h1 {
    color: #fff;
    font-size: 38px;
}
.content-wrap {
    display: flex;
    padding: 30px 10px 20px;
}

/* Aside */
#aside {
    width: 320px;
    margin: 10px 20px 0 0;
    flex-shrink: 0;
}
.nav-list li {
    margin-bottom: 30px;
    padding-left: 10px;
    color: #626161;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.3px;
    transition: .4s;
    cursor: pointer;
}
.nav-list li .material-icons {
    margin-right: 5px;
    vertical-align: bottom;
    font-size: 24px;
    line-height: 1.2;
}
.nav-item_checked,
.nav-list li:hover {
    color: #b105ff !important;
}
.nav-item_checked {
    cursor: default !important;
}
.nav-list li:hover .category-list,
.sublist-menu {
    color: #626161 !important;
    cursor: default !important;
}
.sublist-menu {
    margin-bottom: 10px !important;
}
.category-list {
    margin: 12px 0;
}
.category-list li {
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 400;
    background: none;
}

/* Main */
#main-wrap {
   flex-basis: 100%;
}

/* Learn word */
.set-word-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #b105ff;
}
.set-word-wrap li {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    color: #db91fd;
    transition: .4s;
    cursor: pointer;
}
.set-word-wrap li:hover {
    color: #c24afa;
}
.word-single-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    margin: 30px auto 0;
    text-align: center;
}
.word-single-wrap .fav-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    font-size: 18px;
    background: none;
    color: #eadcf8;
}
.word-single-wrap .fav-btn:hover {
    color: #ffd35a;
}
.word-single-wrap .fav-btn_checked {
    color: #ffbc02;
}
.word-img-wrap {
    width: 360px;
    height: 230px;
    margin: 0 auto 10px;
    padding: 10px;
    border: 1px solid #c24afa;
    border-radius: 4px;
}
.word-single-wrap b {
    font-size: 24px;
}
.word-single-wrap i {
    font-size: 18px;
}
.word-single-wrap span {
    font-size: 20px;
}
.word-single-wrap .btn-wrap {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 15px auto 0;
}
.word-single-wrap .btn-wrap button {
    width: 48%;
}
.button-main {
    padding: 10px 0;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
    font-weight: 700;
	background-color: #b61ffb;
}
.button-main:hover {
    background-color: #a108e7;
}
.button-main:active {
    background-color: #8a0ac5;
}